h2{
  text-align: center;
}

.btn-modifications{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-modifications button{
  width: 100px;
  margin: 10px auto;
}

.container-form{
  width: 280px;
  margin: auto;
  padding-top: 25px;
}
